@import "variables";

@media only screen and (min-width: $lg) {
  .App-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .App-project--form {
    width: 600px;
    margin: auto;
  }
}
