@import "variables";

@media only screen and (min-width: $lg) {
  .App-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .App-project--form {
    width: 600px;
    margin: auto;
  }
  .App-projects-list {
    width: 600px;
    margin: auto;
  }
}

@media only screen and (max-width: $md) {
  .table {
    width: 100% !important;
    text-align: left;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    // border: 2px solid red;
    border-spacing: 0;
    // background-color: cyan;
    .table-head {
      // background-color: magenta;
      background-color: white;
      .table-head-row {
        // background-color: yellow;
        background: rgba(0, 0, 0, 0.02);
        box-shadow: inset 0px -1px 0px #D9D9D9;
        display: none;
      }
      .table-head-headercell {
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        padding: 1rem;
      }
    }
    .table-body {
      // background-color: yellow;
      .table-body-row {
        // background-color: magenta;
        background-color: white;
        box-shadow: inset 0px -1px 0px #D9D9D9;
        display: grid;
        grid-template-columns: 11fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: .25rem .5rem;
      }
      .table-body-datacell {
        // display: flex;
        // flex-direction: column;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        padding: .25rem !important;
        // background-color: cyan;
      }
      .table-body-datacell:nth-child(even) {
        background-color: yellow;
        display: none;
      }
      .table-body-datacell:nth-child(1) {
        // background-color: red;
      }
      .table-body-datacell:nth-child(3) {
        // background-color: green;
        grid-row: 2/3;
      }
      .table-body-datacell:nth-child(5) {
        // background-color: blue;
      }
    }
  }

  .project-info {
    .project-info__name {
      // color: rgba(0, 0, 0, 0.65);
      // font-size: 14px;
    }
    .project-info__date {
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
    }
  }
  
  .project-manager {
    display: flex;
    align-items: center;
    border: 1px solid cyan;
    display: none !important;

    .project-manager__image{
      // border: 1px solid red;
      margin-right: .5rem;
    }
    .project-manager__name{
      // border: 1px solid blue;
    }
  }
  
  .project-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none !important;
    .project-status__value {
      // color: red;
      // border: 1px solid blue;
      // height: 20px;
      background: #F5F5F5;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      border-radius: 4px;
      padding: .25rem .5rem;
    }
  }
  
  .project-menu {
    // border: 1px solid red;
    // align-self: flex-start;
  }
}

