* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Button {
  background: #F5222D;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-right: 1rem;
  width: max-content;
  font-size: 12px;
}

.Button-Big {
  background: #F5222D;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  margin-right: 1rem;
  width: max-content;
  font-size: 16px;
}

.popOverMenu {
  width: 181px;
  height: 76px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.popOverMenu .popOverMenu--link-container {
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: inset 0px -1px 0px #D9D9D9;
  height: 50%;
}
.popOverMenu .popOverMenu--link-container .popOverMenu--link-container__link {
  font-size: 12px;
  color: #262626;
}
.popOverMenu .popOverMenu--link-container .popOverMenu--link-container__icon {
  margin-left: 1rem;
  margin-right: 1rem;
}

.App {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: red;
  background-color: #F0F2F5;
}
.App .App-header {
  padding: 0.75rem 0rem;
  color: #BDBDBD;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D9D9D9;
  width: 100%;
}
.App .App-header .App-header-title {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 14px;
}
.App .App-subheader {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0rem;
  color: rgba(0, 0, 0, 0.85);
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D9D9D9;
  width: 100%;
}
.App .App-subheader .App-subheader--icon-container {
  display: flex;
}
.App .App-subheader .App-subheader--icon-container .App-subheader--icon-container__icon {
  color: blue;
  margin-left: 1rem;
}
.App .App-subheader .App-subheader--icon-container .App-subheader--icon-container__icon-description {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0rem 0.5rem;
}
.App .App-subheader .App-subheader-title {
  font-weight: 600;
  font-size: 16px;
  padding: 0.5rem 1rem;
}
.App .App-projects {
  background-color: rgba(0, 255, 0, 0.5);
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}
.App .App-projects-list {
  background-color: rgba(0, 255, 98, 0.5);
}
.App .App-project {
  width: 100%;
  padding: 0rem 0rem;
  background-color: white;
  box-shadow: inset 0px -1px 0px #D9D9D9;
  height: 5rem;
  position: relative;
  color: rgba(0, 0, 0, 0.65);
}
.App .App-project .App-project--details {
  padding: 0.25rem 0.75rem;
}
.App .App-project .App-project--details .App-project--details__name {
  font-size: 14px;
  line-height: 20px;
}
.App .App-project .App-project--details .App-project--details__creation-date {
  font-size: 10px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.45);
}
.App .App-project .App-project--user {
  padding: 0.25rem 0.75rem;
  display: flex;
}
.App .App-project .App-project--user .App-project--user__image {
  margin-right: 0.5rem;
}
.App .App-project .App-project--user .App-project--user__name {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 22px;
}
.App .App-project .App-project--menu {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 320px;
  top: 14px;
}
.App .App-project {
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}
.App .App-project .App-project--form {
  padding: 2rem 1rem;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.App .App-project .App-project--form .App-project--form__label {
  font-size: 14px;
  color: #262626;
  margin-bottom: 0.25rem;
}
.App .App-project .App-project--form .App-project--form__input {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 2.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
